.wrapper {
  display: flex;
  position: relative;

  @media (width <= 767.98px) {
    order: -1;
  }
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  aspect-ratio: 1;
  color: var(--white);
  object-fit: cover;
  border-radius: 50%;
  background-image: linear-gradient(135deg, #15294e, #253d96);
  transition: color 0.3s ease;
}

.avatar:hover,
.avatar:focus {
  color: #99b5ff;
}
